{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'user/images/tripledlogo.jpeg' %}">
	<!-- Author Meta -->
	<meta name="author" content="Triple D Homes">
	<!-- Meta Description -->
	<meta name="description" content="{% block meta_description %}Triple D Homes - Your trusted real estate partner{% endblock %}">
	<!-- Meta Keyword -->
	<meta name="keywords" content="{% block meta_keywords %}real estate, homes, properties, Triple D Homes{% endblock %}">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{% block title %}Triple D Homes{% endblock %}</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{% static 'estate/css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'estate/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'estate/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'estate/css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'estate/css/nice-select.css' %}">					
		<link rel="stylesheet" href="{% static 'estate/css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'estate/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'estate/css/main.css' %}">
		{% block extra_css %}{% endblock %}
	</head>
	<body>	
		  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
			  		  <div class="row">
			  		  	<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
			  		  		<a href="tel:+2347036608088">+234 703 660 8088</a>
			  		  		<a href="mailto:info@tripled.com.ng">info@tripled.com.ng</a>					  
			  		  	</div>
			  		  	<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
								{% if general_settings.facebook_url %}
								<li><a href="{{ general_settings.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
								{% endif %}
								{% if general_settings.instagram_url %}
								<li><a href="{{ general_settings.instagram_url }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
								{% endif %}
								{% if general_settings.whatsapp_number %}
								<li><a href="https://wa.me/{{ general_settings.whatsapp_number }}" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
								{% endif %}			
			  		  	</div>
			  		  </div>			  					  
		  			</div>
				</div>
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="{% url 'homepage' %}"><img src="{% static 'user/images/tripledlogo.jpeg' %}" alt="Triple D Homes" title="Triple D Homes" style="max-height: 60px; width: 110px;" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="{% block nav_home %}{% endblock %}"><a href="{% url 'homepage' %}">Home</a></li>
				          <li class="{% block nav_about %}{% endblock %}"><a href="{% url 'about' %}">About Us</a></li>
				          <li class="{% block nav_properties %}{% endblock %}"><a href="{% url 'properties' %}">Properties</a></li>
				          <li class="{% block nav_downloadables %}{% endblock %}"><a href="{% url 'downloadables' %}">Downloadables</a></li>
				          <li class="{% block nav_realtors_check %}{% endblock %}"><a href="{% url 'realtors_check' %}">Realtors Check</a></li>
				          <li class="{% block nav_gallery %}{% endblock %}"><a href="{% url 'gallery' %}">Gallery</a></li>
				          <li class="{% block nav_contact %}{% endblock %}"><a href="{% url 'contact' %}">Contact Us</a></li>
                          <li><a href="{% url 'realtor_register' %}" class="primary-btn text-white" style="line-height: 24px; padding: 0 20px;">Register as Realtor</a></li>
                          
                          <!-- Mobile Only Social Links -->
                          <li class="d-lg-none mt-3">
                              <div style="display: flex; gap: 20px; padding-left: 15px;">
                                  {% if general_settings.facebook_url %}
                                  <a href="{{ general_settings.facebook_url }}" target="_blank" style="display: inline-block;"><i class="fa fa-facebook" style="font-size: 1.2rem;"></i></a>
                                  {% endif %}
                                  {% if general_settings.instagram_url %}
                                  <a href="{{ general_settings.instagram_url }}" target="_blank" style="display: inline-block;"><i class="fa fa-instagram" style="font-size: 1.2rem;"></i></a>
                                  {% endif %}
                                  {% if general_settings.whatsapp_number %}
                                  <a href="https://wa.me/{{ general_settings.whatsapp_number }}" target="_blank" style="display: inline-block;"><i class="fa fa-whatsapp" style="font-size: 1.2rem;"></i></a>
                                  {% endif %}
                              </div>
                          </li>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

		{% block content %}
		{% endblock %}

		<!-- start footer Area -->		
		<footer class="footer-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>About Triple D Homes</h6>
							<p>
								From luxury homes to affordable landed assets that meet your expectations. We provide you with the best assistance when it comes to choosing your properties, every step of the way.
							</p>
							<p class="footer-text">
								&copy;<script>document.write(new Date().getFullYear());</script> Triple D Global Homes. All rights reserved.
							</p>							
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Lagos Head Office</h6>
							<p>66 Shehu Hussein Arikewuyo Street, Lakeview Estate Phase II, Amuwo Odofin, Lagos.</p>
						</div>
					</div>	
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Enugu Office</h6>
							<p>Suit 1 Adonai Complex, No 2 Onyiuke Street, Off Edimbo Road, Ogui New Layout, Enugu.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Awka Office</h6>
							<p>Shop B8/B11, Block C, Millennium Plaza, Opp. ABS, Behind UBA, Aroma, Enugu-Onitsha Express Road, Awka.</p>
						</div>
					</div>	
				</div>
                <div class="row mt-30">
					<div class="col-lg-12">
						<div class="single-footer-widget">
							<h6>Follow Us</h6>
							<div class="footer-social d-flex align-items-center">
								{% if general_settings.facebook_url %}
								<a href="{{ general_settings.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
								{% endif %}
								{% if general_settings.instagram_url %}
								<a href="{{ general_settings.instagram_url }}" target="_blank"><i class="fa fa-instagram"></i></a>
								{% endif %}
								{% if general_settings.whatsapp_number %}
								<a href="https://wa.me/{{ general_settings.whatsapp_number }}" target="_blank"><i class="fa fa-whatsapp"></i></a>
								{% endif %}
							</div>
						</div>
					</div>
                </div>
			</div>
		</footer>	
		<!-- End footer Area -->	

		<script src="{% static 'estate/js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="{% static 'estate/js/vendor/bootstrap.min.js' %}"></script>			
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'estate/js/easing.min.js' %}"></script>			
		<script src="{% static 'estate/js/hoverIntent.js' %}"></script>
		<script src="{% static 'estate/js/superfish.min.js' %}"></script>	
		<script src="{% static 'estate/js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'estate/js/jquery.magnific-popup.min.js' %}"></script>	
		<script src="{% static 'estate/js/owl.carousel.min.js' %}"></script>					
		<script src="{% static 'estate/js/jquery.nice-select.min.js' %}"></script>							
		<script src="{% static 'estate/js/mail-script.js' %}"></script>	
		<script src="{% static 'estate/js/main.js' %}"></script>	
		{% block extra_js %}{% endblock %}
	</body>
</html>
